# Demo - Vaex 
A lib using in computing astronomy field  
[Vaex-Tutorial](https://vaex.readthedocs.io/en/latest/tutorial.html)

### Import a file - HDF5

In [2]:
%time
import vaex
# import warnings; warnings.filterwarnings("ignore")

vdf = vaex.open('/Users/Jibamy/Projects/Python/yellow_taxi_2015_f32s.hdf5')

CPU times: user 1 µs, sys: 1 µs, total: 2 µs
Wall time: 3.1 µs

### Count in a 140m-row file

In [3]:
%%time
print(f'number of rows: {vdf.shape[0]:,}')

number of rows: 146,112,991
CPU times: user 342 µs, sys: 181 µs, total: 523 µs
Wall time: 465 µs

### Install libs in Jupyter Notebook

In [ ]:
# Install a conda package in the current Jupyter kernel
import sys
!conda install --yes --prefix {sys.prefix} numpy
# Install a pip package in the current Jupyter kernel
!{sys.executable} -m pip install numpy
# Other usage Ref. https://jakevdp.github.io/blog/2017/12/05/installing-python-packages-from-jupyter/

### Describe file

In [7]:
%%time
vdf.describe()
# DON'T Run This Code Block~!! It Burns CPU And Mem.

CPU times: user 1min 34s, sys: 23.1 s, total: 1min 57s
Wall time: 28.3 s

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,payment_type,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
dtype,str,datetime64[ns],datetime64[ns],int64,str,float32,float32,float32,float32,float32,float32,float32,float32,float32,float32,float32,float32,float32
count,146112991,146112991,146112991,146112991,146112991,146112991,146112991,146112991,146112991,146112989,146112991,146112990,146112990,146112990,146112990,146112990,146112990,146112990
NA,0,0,0,0,0,0,0,0,0,2,0,1,1,1,1,1,1,1
mean,--,1970-01-01T00:01:25.835533096,1970-01-01T00:00:05.863547737,1.6806633573054433,--,13.137274561804015,-72.80689147618534,40.107714232654736,1.0420616124407445,0.008331969719680431,-72.85359844626949,40.13439191319038,12.938776600018073,0.3142660957767585,0.4975636310707298,1.7284416808430478,0.3077738357453542,16.096247205005447
std,--,9.08535e+15,9.22274e+15,1.33337,--,19875.1,9.22026,5.07843,0.668078,0.0908986,9.03923,4.9794,124.599,0.531459,0.0500798,326.837,1.66441,356.994
min,--,2014-12-15T18:23:50.043213824,1899-12-31T23:59:43.370698752,0,--,-4.08401e+07,-874.003,-78.1947,1,0,-781.833,-78.1947,-496,-79,-3,-440,-99,-496.3
max,--,2016-01-01T00:00:49.632313344,2253-08-23T08:00:13.061652480,9,--,1.98623e+08,172.6,404.867,99,1,172.6,483.45,825999,999.99,91,3.95059e+06,1901.4,3.95061e+06

### Fetch data by row No.

In [10]:
%%time
vdf.head(3)

CPU times: user 1.72 ms, sys: 34 µs, total: 1.75 ms
Wall time: 1.8 ms

  #  vendor_id    pickup_datetime                dropoff_datetime                 passenger_count  payment_type      trip_distance    pickup_longitude    pickup_latitude    rate_code    store_and_fwd_flag    dropoff_longitude    dropoff_latitude    fare_amount    surcharge    mta_tax    tip_amount    tolls_amount    total_amount
  0  VTS          2014-12-16 02:26:00.000000000  2014-12-16 02:28:00.000000000                  1  CSH                        1.09            -73.9867            40.7564            1                   nan             -73.9965             40.7429              5          0.5        0.5          0                  0            6
  1  VTS          2014-12-15 18:23:00.000000000  2014-12-15 18:58:00.000000000                  2                             6.28            -74.0042            40.7212            1                   nan             -73.97              nan                 nan        nan        nan          nan                nan          nan
  2  VTS          2015-01-15 19:05:39.000000000  2015-01-15 19:23:42.000000000                  1  1                          1.59            -73.9939            40.7501            1                     0             -73.9748             40.7506             12          1          0.5          3.25               0           17.05

In [16]:
%%time
vdf.tail(2)

CPU times: user 1.84 ms, sys: 24 µs, total: 1.86 ms
Wall time: 1.88 ms

  #  vendor_id    pickup_datetime                dropoff_datetime                 passenger_count    payment_type    trip_distance    pickup_longitude    pickup_latitude    rate_code    store_and_fwd_flag    dropoff_longitude    dropoff_latitude    fare_amount    surcharge    mta_tax    tip_amount    tolls_amount    total_amount
  0  VTS          2015-12-31 23:59:59.000000000  2016-01-01 00:10:26.000000000                  1               2             1.96            -73.9976            40.7257            1                     0             -74.0171             40.7053            8.5          0.5        0.5          0                  0            9.8
  1  VTS          2015-12-31 23:59:59.000000000  2016-01-01 00:21:30.000000000                  1               1             1.06            -73.9844            40.7673            1                     0             -73.991              40.7606           13.5          0.5        0.5          2.96               0           17.76

In [12]:
%%time
vdf[:2]

CPU times: user 2.22 ms, sys: 55 µs, total: 2.28 ms
Wall time: 2.33 ms

  #  vendor_id    pickup_datetime                dropoff_datetime                 passenger_count  payment_type      trip_distance    pickup_longitude    pickup_latitude    rate_code    store_and_fwd_flag    dropoff_longitude    dropoff_latitude    fare_amount    surcharge    mta_tax    tip_amount    tolls_amount    total_amount
  0  VTS          2014-12-16 02:26:00.000000000  2014-12-16 02:28:00.000000000                  1  CSH                        1.09            -73.9867            40.7564            1                   nan             -73.9965             40.7429              5          0.5        0.5             0               0               6
  1  VTS          2014-12-15 18:23:00.000000000  2014-12-15 18:58:00.000000000                  2                             6.28            -74.0042            40.7212            1                   nan             -73.97              nan                 nan        nan        nan             nan             nan             nan

In [14]:
%%time
vdf[146112989:]

CPU times: user 2.28 ms, sys: 21 µs, total: 2.3 ms
Wall time: 2.35 ms

  #  vendor_id    pickup_datetime                dropoff_datetime                 passenger_count    payment_type    trip_distance    pickup_longitude    pickup_latitude    rate_code    store_and_fwd_flag    dropoff_longitude    dropoff_latitude    fare_amount    surcharge    mta_tax    tip_amount    tolls_amount    total_amount
  0  VTS          2015-12-31 23:59:59.000000000  2016-01-01 00:10:26.000000000                  1               2             1.96            -73.9976            40.7257            1                     0             -74.0171             40.7053            8.5          0.5        0.5          0                  0            9.8
  1  VTS          2015-12-31 23:59:59.000000000  2016-01-01 00:21:30.000000000                  1               1             1.06            -73.9844            40.7673            1                     0             -73.991              40.7606           13.5          0.5        0.5          2.96               0           17.76

In [15]:
%%time
vdf[1000000:1000002]

CPU times: user 2.01 ms, sys: 67 µs, total: 2.07 ms
Wall time: 2.11 ms

  #  vendor_id    pickup_datetime                dropoff_datetime                 passenger_count    payment_type    trip_distance    pickup_longitude    pickup_latitude    rate_code    store_and_fwd_flag    dropoff_longitude    dropoff_latitude    fare_amount    surcharge    mta_tax    tip_amount    tolls_amount    total_amount
  0  VTS          2015-01-12 17:14:26.000000000  2015-01-12 17:38:29.000000000                  1               1             3.16            -73.9846            40.7424            1                     0             -73.9531             40.7692           16.5            1        0.5          3.5                0           21.8
  1  VTS          2015-01-12 17:14:27.000000000  2015-01-12 17:23:32.000000000                  1               1             1.51              0                  0                 1                     0               0                   0                 8              1        0.5          1.35               0           11.15

In [18]:
%%time
vdf[10:15][['vendor_id','pickup_datetime','payment_type']]

CPU times: user 941 µs, sys: 3 µs, total: 944 µs
Wall time: 958 µs

  #  vendor_id    pickup_datetime                  payment_type
  0  CMT          2015-01-10 20:33:39.000000000               2
  1  CMT          2015-01-10 20:33:40.000000000               1
  2  CMT          2015-01-10 20:33:40.000000000               1
  3  CMT          2015-01-10 20:33:41.000000000               1
  4  CMT          2015-01-10 20:33:41.000000000               2

In [19]:
%%time
vdf[['vendor_id','trip_distance','fare_amount']].tail(5)

CPU times: user 721 µs, sys: 1e+03 ns, total: 722 µs
Wall time: 730 µs

  #  vendor_id      trip_distance    fare_amount
  0  VTS                     1.2             7.5
  1  CMT                     2               7.5
  2  CMT                     3.8            13.5
  3  VTS                     1.96            8.5
  4  VTS                     1.06           13.5

In [20]:
%%time
import numpy as np
wanted_vendor_ls = np.array(['V', 'C'])
ds1 = vaex.from_arrays(vendor_id=wanted_vendor_ls)
ds1
# df_10000r_ds = df[:100]
# https://towardsdatascience.com/7-reasons-why-i-love-vaex-for-data-science-99008bc8044b
# df_10000r_ds[(df_10000r_ds.vendor_id =='V') & (df_10000r_ds.vendor_id=='C')]
# df_10000r_ds[(df_10000r_ds.vendor_id =='VTS') | (df_10000r_ds.vendor_id =='CMT')]

CPU times: user 263 µs, sys: 125 µs, total: 388 µs
Wall time: 397 µs

  #  vendor_id
  0  V
  1  C

In [35]:
vdf_100_1st = vdf[:100]
# vdf_100_1st_filtered=vdf_100_1st[(vdf_100_1st.vendor_id =='VTS') | (vdf_100_1st.vendor_id =='CMT')][['vendor_id','pickup_datetime']]
vdf_100_1st_filtered=vdf_100_1st[(vdf_100_1st.vendor_id =='CMT')][['vendor_id','pickup_datetime']].head(30)
print(f'number of rows: {vdf_100_1st_filtered.shape[0]:,}')

number of rows: 22

In [38]:
vdf_100_1st[(vdf_100_1st.vendor_id =='VTS') | (vdf_100_1st.vendor_id =='CMT')]\
[['vendor_id','pickup_datetime']]\
.head(6)

  #  vendor_id    pickup_datetime
  0  VTS          2014-12-16 02:26:00.000000000
  1  VTS          2014-12-15 18:23:00.000000000
  2  VTS          2015-01-15 19:05:39.000000000
  3  CMT          2015-01-10 20:33:38.000000000
  4  CMT          2015-01-10 20:33:38.000000000
  5  CMT          2015-01-10 20:33:39.000000000

In [39]:
!conda list

# packages in environment at /Users/Jibamy/opt/miniconda3/envs/dev:
#
# Name                    Version                   Build  Channel
abseil-cpp                20200225.2           hb1e8313_1    conda-forge
aniso8601                 7.0.0                    pypi_0    pypi
aplus                     0.11.0                     py_1    conda-forge
appnope                   0.1.2           py38hecd8cb5_1001
argon2-cffi               20.1.0           py38haf1e3a3_1
arrow-cpp                 3.0.0            py38hf7c73f6_0
asgiref                   3.2.10                   pypi_0    pypi
astroid                   2.4.2                    pypi_0    pypi
astropy                   4.2              py38hca655e8_2    conda-forge
async_generator           1.10               pyhd3eb1b0_0
attrs                     20.3.0             pyhd3eb1b0_0
backcall                  0.2.0              pyhd3eb1b0_0
beaker                    1.11.0                   pypi_0    pypi
blas                      1.0                         mkl
bleach                    3.2.3              pyhd3eb1b0_0
blosc                     1.21.0               h2842e9f_0
bokeh                     2.3.0            py38h50d1736_0    conda-forge
boost-cpp                 1.69.0            h6f8c590_1000    conda-forge
boto3                     1.17.19            pyhd8ed1ab_0    conda-forge
botocore                  1.20.19            pyhd8ed1ab_0    conda-forge
bqplot                    0.12.23            pyhd8ed1ab_0    conda-forge
branca                    0.4.2              pyhd8ed1ab_0    conda-forge
brotli                    1.0.9                hb1e8313_2
brotlipy                  0.7.0           py38h9ed2024_1003
bzip2                     1.0.8                hc929b4f_4    conda-forge
c-ares                    1.17.1               hc929b4f_0    conda-forge
ca-certificates           2021.1.19            hecd8cb5_0
cached-property           1.5.1                      py_0    conda-forge
cachetools                4.2.1              pyhd8ed1ab_0    conda-forge
certifi                   2020.12.5        py38hecd8cb5_0
cffi                      1.14.4           py38h2125817_0
chardet                   3.0.4                    pypi_0    pypi
click                     7.1.2              pyh9f0ad1d_0    conda-forge
cloudpickle               1.6.0                      py_0    conda-forge
cryptography              3.3.1            py38hbcfaee0_0
cycler                    0.10.0                     py_2    conda-forge
cytoolz                   0.11.0           py38h5406a74_3    conda-forge
dask                      2021.2.0           pyhd3eb1b0_0
dask-core                 2021.2.0           pyhd3eb1b0_0
dbus                      1.13.18              h18a8e69_0
decorator                 4.4.2              pyhd3eb1b0_0
defusedxml                0.6.0                      py_0
diskcache                 5.2.1                    pypi_0    pypi
distributed               2021.2.0         py38h50d1736_0    conda-forge
django                    3.1.1                    pypi_0    pypi
django-oauth-toolkit      1.3.2                    pypi_0    pypi
double-conversion         3.1.5                h4a8c4bd_2    conda-forge
entrypoints               0.3                      py38_0
expat                     2.2.10               hb1e8313_2
freetype                  2.10.4               h4cff582_1    conda-forge
fsspec                    0.8.7              pyhd8ed1ab_0    conda-forge
future                    0.18.2           py38h50d1736_3    conda-forge
geos                      3.8.1                h4a8c4bd_0    conda-forge
gettext                   0.19.8.1          h7937167_1005    conda-forge
gflags                    2.2.2             h4a8c4bd_1004    conda-forge
glib                      2.51.4                        0    conda-forge
glog                      0.4.0                h700f914_3    conda-forge
graphene                  2.1.8                    pypi_0    pypi
graphene-tornado          2.6.1                    pypi_0    pypi
graphql-core              2.3.2                    pypi_0    pypi
graphql-relay             2.0.1                    pypi_0    pypi
grpc-cpp                  1.28.1               h0284957_2    conda-forge
h5py                      2.10.0           py38h3134771_0
hdf5                      1.10.4               hfa1e0ec_0
heapdict                  1.0.1                      py_0    conda-forge
icu                       58.2              h0a44026_1000    conda-forge
idna                      2.10               pyhd3eb1b0_0
imageio                   2.9.0                      py_0    conda-forge
importlib-metadata        2.0.0                      py_1
importlib_metadata        2.0.0                         1
intel-openmp              2019.4                      233
ipydatawidgets            4.2.0              pyhd3deb0d_0    conda-forge
ipykernel                 5.3.4            py38h5ca1d4c_0
ipyleaflet                0.13.6             pyhd8ed1ab_1    conda-forge
ipympl                    0.6.3              pyhd8ed1ab_0    conda-forge
ipython                   7.21.0           py38h9bb44b7_0    conda-forge
ipython_genutils          0.2.0              pyhd3eb1b0_1
ipyvolume                 0.6.0a6            pyh9f0ad1d_0    conda-forge
ipyvue                    1.5.0              pyhd3deb0d_0    conda-forge
ipyvuetify                1.6.2              pyh44b312d_0    conda-forge
ipywebrtc                 0.5.0            py38h32f6830_1    conda-forge
ipywidgets                7.6.3              pyhd3deb0d_0    conda-forge
isort                     5.5.1                    pypi_0    pypi
jedi                      0.18.0           py38hecd8cb5_1
jinja2                    2.11.2             pyhd3eb1b0_0
jmespath                  0.10.0             pyh9f0ad1d_0    conda-forge
jpeg                      9d                   hbcb3906_0    conda-forge
json5                     0.9.5                      py_0
jsonschema                3.2.0                      py_2
jupyter_client            6.1.7                      py_0
jupyter_core              4.7.0            py38hecd8cb5_0
jupyterlab                2.2.9              pyhd8ed1ab_0    conda-forge
jupyterlab_pygments       0.1.2                      py_0
jupyterlab_server         1.2.0                      py_0
jupyterlab_widgets        1.0.0              pyhd8ed1ab_1    conda-forge
kiwisolver                1.3.1            py38h23ab428_0
lazy-object-proxy         1.4.3                    pypi_0    pypi
libboost                  1.73.0              hd4c2dcd_11
libcxx                    10.0.0                        1
libedit                   3.1.20191231         h1de35cc_1
libevent                  2.1.10               hddc9c9b_3    conda-forge
libffi                    3.3                  hb1e8313_2
libgfortran               3.0.1                h93005f0_2
libiconv                  1.16                 haf1e3a3_0    conda-forge
libpng                    1.6.37               h7cec526_2    conda-forge
libprotobuf               3.11.4               hd174df1_0    conda-forge
libsodium                 1.0.18               h1de35cc_0
libthrift                 0.13.0               h054ceb0_6
libtiff                   4.1.0                hcb84e12_1
llvm-openmp               11.0.1               h7c73e74_0    conda-forge
locket                    0.2.0                      py_2    conda-forge
lz4-c                     1.9.3                h23ab428_0
lzo                       2.10                 haf1e3a3_2
markupsafe                1.1.1            py38h1de35cc_1
matplotlib                3.2.2                         1    conda-forge
matplotlib-base           3.2.2            py38h1300a51_1    conda-forge
mccabe                    0.6.1                    pypi_0    pypi
mistune                   0.8.4           py38h1de35cc_1001
mkl                       2019.4                      233
mkl-service               2.3.0            py38h9ed2024_0
mkl_fft                   1.3.0            py38ha059aab_0
mkl_random                1.1.1            py38h959d312_0
mock                      4.0.3              pyhd3eb1b0_0
msgpack-python            1.0.2            py38hf7b0b51_1
nbclient                  0.5.1                      py_0
nbconvert                 6.0.7                    py38_0
nbformat                  5.1.2              pyhd3eb1b0_1
ncurses                   6.2                  h0a44026_1
nest-asyncio              1.4.3              pyhd3eb1b0_0
networkx                  2.5                        py_0    conda-forge
notebook                  6.2.0            py38hecd8cb5_0
numexpr                   2.7.3            py38h16bde0e_0
numpy                     1.19.2           py38h456fd55_0
numpy-base                1.19.2           py38hcfb5961_0
oauthlib                  3.1.0                    pypi_0    pypi
olefile                   0.46               pyh9f0ad1d_1    conda-forge
openssl                   1.1.1j               h9ed2024_0
orc                       1.6.5                h001ef8f_1
packaging                 20.8               pyhd3eb1b0_0
pandas                    1.0.1            py38h4f17bb1_0    conda-forge
pandoc                    2.11                 h0dc7051_0
pandocfilters             1.4.3            py38hecd8cb5_1
parso                     0.8.1              pyhd3eb1b0_0
partd                     1.1.0                      py_0    conda-forge
pcre                      8.44                 h4a8c4bd_0    conda-forge
pexpect                   4.8.0              pyhd3eb1b0_3
pickleshare               0.7.5           pyhd3eb1b0_1003
pillow                    7.2.0            py38h83dc5e5_0    conda-forge
pip                       20.2.2                   py38_0
progressbar2              3.53.1             pyh9f0ad1d_0    conda-forge
prometheus_client         0.9.0              pyhd3eb1b0_0
promise                   2.3                      pypi_0    pypi
prompt-toolkit            3.0.8                      py_0
psutil                    5.8.0            py38h5406a74_1    conda-forge
ptyprocess                0.7.0              pyhd3eb1b0_2
pyarrow                   3.0.0            py38hdf3e9eb_1
pycparser                 2.20                       py_2
pyerfa                    1.7.2            py38h9ed2024_0
pygments                  2.7.4              pyhd3eb1b0_0
pylint                    2.6.0                    pypi_0    pypi
pyopengl                  3.1.5                      py_0    conda-forge
pyopenssl                 20.0.1             pyhd3eb1b0_1
pyparsing                 2.4.7              pyhd3eb1b0_0
pyqt                      5.9.2            py38h655552a_2
pyrsistent                0.17.3           py38haf1e3a3_0
pysocks                   1.7.1                    py38_1
pytables                  3.6.1            py38h4727e94_0
python                    3.8.5                h26836e1_0
python-dateutil           2.8.1              pyhd3eb1b0_0
python-utils              2.5.5              pyh44b312d_0    conda-forge
python_abi                3.8                      1_cp38    conda-forge
pythreejs                 2.3.0              pyhd8ed1ab_0    conda-forge
pytz                      2020.1                   pypi_0    pypi
pywavelets                1.1.1            py38hc7193ba_3    conda-forge
pyyaml                    5.4.1            py38h5406a74_0    conda-forge
pyzmq                     20.0.0           py38h23ab428_1
qt                        5.9.7                h93ee506_2    conda-forge
re2                       2020.11.01           h23ab428_1
readline                  8.0                  h1de35cc_0
requests                  2.24.0                   pypi_0    pypi
rx                        1.6.1                    pypi_0    pypi
s3fs                      0.2.2                      py_0    conda-forge
s3transfer                0.3.4              pyhd8ed1ab_0    conda-forge
scikit-image              0.16.2           py38h4f17bb1_0    conda-forge
scipy                     1.6.1            py38h2515648_0
send2trash                1.5.0              pyhd3eb1b0_1
setuptools                49.6.0                   py38_0
shapely                   1.7.1            py38h7843d1f_1    conda-forge
sip                       4.19.8           py38h0a44026_0
six                       1.15.0           py38hecd8cb5_0
snappy                    1.1.8                h4a8c4bd_3    conda-forge
sortedcontainers          2.3.0              pyhd8ed1ab_0    conda-forge
sqlite                    3.33.0               hffcf06c_0
sqlparse                  0.3.1                    pypi_0    pypi
tabulate                  0.8.9              pyhd8ed1ab_0    conda-forge
tblib                     1.6.0                      py_0    conda-forge
terminado                 0.9.2            py38hecd8cb5_0
testpath                  0.4.4              pyhd3eb1b0_0
tk                        8.6.10               hb0a8c7a_0
toml                      0.10.1                   pypi_0    pypi
toolz                     0.11.1                     py_0    conda-forge
tornado                   6.1              py38h9ed2024_0
traitlets                 5.0.5              pyhd3eb1b0_0
traittypes                0.2.1              pyh9f0ad1d_2    conda-forge
typing_extensions         3.7.4.3                    py_0    conda-forge
uriparser                 0.9.3                h6de7cb9_1    conda-forge
urllib3                   1.25.10                  pypi_0    pypi
utf8proc                  2.6.1                h9ed2024_0
vaex-arrow                0.5.1              pyh9f0ad1d_0    conda-forge
vaex-astro                0.7.0              pyh9f0ad1d_0    conda-forge
vaex-core                 2.0.3            py38h5fc983b_0    conda-forge
vaex-graphql              0.1.0                    pypi_0    pypi
vaex-hdf5                 0.6.0              pyh9f0ad1d_0    conda-forge
vaex-jupyter              0.5.2              pyh9f0ad1d_0    conda-forge
vaex-server               0.3.1              pyh9f0ad1d_0    conda-forge
vaex-ui                   0.3.0                      py_0    conda-forge
vaex-viz                  0.4.0              pyh9f0ad1d_0    conda-forge
wcwidth                   0.2.5                      py_0
webencodings              0.5.1                    py38_1
werkzeug                  0.12.2                   pypi_0    pypi
wheel                     0.35.1                     py_0
widgetsnbextension        3.5.1            py38h50d1736_4    conda-forge
wrapt                     1.12.1                   pypi_0    pypi
xarray                    0.17.0             pyhd8ed1ab_0    conda-forge
xz                        5.2.5                h1de35cc_0
yaml                      0.2.5                haf1e3a3_0    conda-forge
zeromq                    4.3.3                hb1e8313_3
zict                      2.0.0                      py_0    conda-forge
zipp                      3.4.0              pyhd3eb1b0_0
zlib                      1.2.11               h1de35cc_3
zstd                      1.4.5                h41d2c2f_0

### Export files

### GraphQL